/de.kolditz.common/.settings
/de.kolditz.common/bin
/de.kolditz.common.ant/.settings
/de.kolditz.common.ant/bin
/de.kolditz.common.osgi/.settings
/de.kolditz.common.osgi/bin
/de.kolditz.common.rcp/.settings
/de.kolditz.common.rcp/bin
/de.kolditz.common.ui/.settings
/de.kolditz.common.ui/bin
